*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root{
    --text-black: #1f1f1f;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.container-card{
    padding: 20px;
}

.date{
    color: gray;
    font-size: .6rem;
    text-align: end;
    padding: 20px;

}